---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';

import logistique from '../assets/Logistique-1.jpg';
import configuration from '../assets/Assemblage.jpg';
import livraison from '../assets/IMG_5100.jpg';
import installation from '../assets/IMG_0490.jpeg';
import Text from '../components/Text.astro';
import SectionsContainer from '../components/SectionsContainer.astro';
---

<Layout>
    <SectionsContainer>
        <Section title="Logistique">
            <img src={logistique.src} alt="">
            <Text>Entreposage sécurisé des produits dans un entrepot de plus de 20 000m²</Text>
        </Section>
        <Section title="Configuration">
            <img src={configuration.src} alt="">
            <Text>Montage et configuration des machines, pour qu'elles soient prêtes à l'emploi</Text>
        </Section>
        <Section title="Livraison">
            <img src={livraison.src} alt="">
            <Text>Toutes les machines sont livrées chez le client en 72h</Text>
        </Section>
        <Section title="Installation">
            <img src={installation.src} alt="">
            <Text>Les machines sont installées et testées chez le client</Text>
        </Section>
        <Section title="Retour">
            <img src={installation.src} alt="">
            <Text>Lors du renouvellement de machines, ACE s'occupe du retrait des machines</Text>
        </Section>
        <Section title="Locker">
            <img src={installation.src} alt="">
            <Text>ACE installe également les lockers</Text>
        </Section>
    </SectionsContainer>
</Layout>